<h1>Bem-vindo(a) ao Site de Filmes</h1>
<form (ngSubmit)="pesquisarFilme()">
  <div
    id="lista-container">
    <div style="text-align: center">
      <input
        id="lista-input"
        type="text"
        [(ngModel)]="termoPesquisa"
        name="pesquisa"
        placeholder="Digite o nome do filme"
      />
      <button id="add-button" type="submit" class="round-button">
        <img src="../../assets/img/lupa.svg" height="20" width="20" />
      </button>
    </div>
  </div>

  <div class="lista" *ngIf="listaFilme.length > 0">
    <div class="movie-list">
      <div class="movie" *ngFor="let filme of listaFilme">
        <div class="movie-poster">
          <img src="{{ filme.Poster }}" alt="Movie Poster" />
        </div>
        <div class="movie-details">
          <h3 class="movie-title">{{ filme.Title }}</h3>
          <p>{{ filme.Year }}</p>
          <button
            class="favorite-button"
            (click)="favoritarFilme(filme.imdbID)">
            {{ isFavorito(filme.imdbID) ? "Desfavoritar" : "Favoritar" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
